<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1009606130573-ed1nj0l1qa9oqrvc8149bh4cghkain77</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1009606130573-ed1nj0l1qa9oqrvc8149bh4cghkain77.apps.googleusercontent.com</string>
</dict>
</plist>
